---
---

body * {
    /*border:1px solid grey;*/
}

body {
    background: #000060;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.pageLink:hover {
    text-decoration: none;
}

h1 {
    font-weight: bold;
    font-size: 175%;
}

h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 125%;
}

h2:first-child {
    margin-top: 0px;
    margin-bottom: 5px;
}

h3 {
    margin-top: 35px
}

blockquote {
    font-size: 90%;
} 

hr {
    color: #D27A42;
    background-color: #D27A42;
    border: 0;
    width: 80%;
    height: 2px;
}

img.emoji {
    height: 24px;
    width: 24px;
}

#middle {
    /*display: inline-block;*/
    width: 800px;
    position:absolute; 
    top:0px;
    left: 50%;
    margin-left: -400px;
    padding: 0px;
    background: #EFE4C3;
}

#sidebar {
    height: 87px;
    background: white;
}

#nav {
    
    display: inline;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    list-style: none;
    list-style-type: none;
    padding: 0px 7px 0px 0px;
    margin: 0px;
}

#nav li:first-child {
    padding-left: 37px;
}


#content-area {
    height: 481px;
    background: url({{ site.baseurl }}/img/hintergrund_unten.gif);
}

#pages {
    display: inline;
    position:absolute;
    top: 460px;
    left: 50px;
    width: 230px;
    height: 22px;
    /*border:1px solid grey;*/
}

#main {
    position:relative;
    top: 50px;
    left: 320px;
    width: 454px;
    height: 420px;
    overflow: auto;
    /*border:1px solid grey;*/
    font-family: "Arial Narrow","Helvetica Narrow",Tahoma,Arial,Helvetica,sans-serif;;
    font-size: 12pt;
    text-align: left;
}

/*#main * {
    font-family: "Arial Narrow","Helvetica Narrow",Tahoma,Arial,Helvetica,sans-serif;;
    font-size: 12pt;
    text-align: left;
}*/

.img-width {
    text-align: center;
    width: 430px;
}

.italic {
    font-style: italic;
}
