---
layout: default
title: Gästebuch
---
    <table width="450">
      <tr>
        <td>
          <h1>Gästebuch</h1>
        </td>
        <td style="text-align: right; vertical-align:bottom;">
          <a href="{{ site.baseurl }}/gaeste/neuer_eintrag.html">Eigenen Eintrag hinzufügen...</a>
        </td>
      </tr>
    </table>
    
    <hr/>
    {% for post in site.posts %}
      {% if post.category == 'gast' %}
        <h2>
          {{ post.title }}
        </h2>
        <div class="entry">
          {{ post.content | emojify }}
        </div>
        <div id="meta">
            <p style="font-size:10pt">
              Eintrag von {{ post.author }} am
              {% assign m = post.date | date: "%-m" %}
              {{ post.date | date: "%-d" }}.
              {% case m %}
                {% when '1' %}Januar
                {% when '2' %}Februar
                {% when '3' %}März
                {% when '4' %}April
                {% when '5' %}Mai
                {% when '6' %}Juni
                {% when '7' %}Juli
                {% when '8' %}August
                {% when '9' %}September
                {% when '10' %}Oktober
                {% when '11' %}November
                {% when '12' %}Dezember
              {% endcase %}
              {{ post.date | date: "%Y" }}
            </p>
            <p>
              <hr/>
            </p>
         </div>
      {% endif %}
    {% endfor %}
    <p style="text-align: right;">
      <a href="{{ site.baseurl }}/gaeste/neuer_eintrag.html">Eigenen Eintrag hinzufügen...</a>
    </p>
