<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>» {{ page.title }} — „Teddys für Kinder in Not Aachen e.V.“</title>

        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />

        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="content-language" content="de">

        <meta name="author" content="Tammo Ippen" />
        <meta name="description" content="„Teddys für Kinder in Not Aachen e.V.“ verfolgt das Ziel, verletzten, misshandelten oder traumatisierten Kindern mittels eines Teddybären ein Stück Liebe und Geborgenheit zu schenken." />
        <meta name="keywords" content="Teddys, trösten, Aachen, Not, Kinder" />

        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <meta name="referrer" content="strict-origin-when-cross-origin">

        <!-- zum Testen  >
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache"-->

        {% if page.url == "/404.html" %}
            <meta http-equiv="refresh" content="5; url=/">
        {% endif %}

    </head>

    <body>
        <div id="middle">
          <div id="sidebar">
            {% include sidebar.html %}
          </div>
