<ul id="nav">
    <li><a href="/">          <img alt="Aktuell" src="/img/top01.gif" /></a></li>
    <li><a href="/verein/1/"> <img alt="Verein" src="/img/top02.gif" /></a></li>
    <li><a href="/presse/">   <img alt="Presse" src="/img/top03.gif" /></a></li>
    <li><a href="/kinder/1/"> <img alt="Kinder" src="/img/top04.gif" /></a></li>
    <li><a href="/galerie/1/"><img alt="Galerie" src="/img/top05.gif" /></a></li>
    <li><a href="/kontakt/">  <img alt="Kontakt" src="/img/top06.gif" /></a></li>
    <li><a href="/spende/">   <img alt="Spende" src="/img/top07.gif" /></a></li>
    <li><a href="/gaeste/">   <img alt="Gäste" src="/img/top08.gif" /></a></li>
</ul>
