<ul id="nav">
    <li><a href="{{ site.url }}/">          <img alt="Aktuell" src="{{ site.url }}/img/top01.gif" /></a></li>
    <li><a href="{{ site.url }}/verein/1/"> <img alt="Verein" src="{{ site.url }}/img/top02.gif" /></a></li>
    <li><a href="{{ site.url }}/presse/">   <img alt="Presse" src="{{ site.url }}/img/top03.gif" /></a></li>
    <li><a href="{{ site.url }}/kinder/1/"> <img alt="Kinder" src="{{ site.url }}/img/top04.gif" /></a></li>
    <li><a href="{{ site.url }}/galerie/1/"><img alt="Galerie" src="{{ site.url }}/img/top05.gif" /></a></li>
    <li><a href="{{ site.url }}/kontakt/">  <img alt="Kontakt" src="{{ site.url }}/img/top06.gif" /></a></li>
    <li><a href="{{ site.url }}/spende/">   <img alt="Spende" src="{{ site.url }}/img/top07.gif" /></a></li>
    <li><a href="{{ site.url }}/gaeste/">   <img alt="Gäste" src="{{ site.url }}/img/top08.gif" /></a></li>
</ul>
