<ul id="nav">
    <li><a href="{{ site.url }}/"><img src="{{ site.url }}/img/top01.gif" /></a></li>
    <li><a href="{{ site.url }}/verein1/"><img src="{{ site.url }}/img/top02.gif" /></a></li>
    <li><a href="{{ site.url }}/presse/"><img src="{{ site.url }}/img/top03.gif" /></a></li>
    <li><a href="{{ site.url }}/kinder1/"><img src="{{ site.url }}/img/top04.gif" /></a></li>
    <li><a href="{{ site.url }}/galerie1/"><img src="{{ site.url }}/img/top05.gif" /></a></li>
    <li><a href="{{ site.url }}/kontakt/"><img src="{{ site.url }}/img/top06.gif" /></a></li>
    <li><a href="{{ site.url }}/spende/"><img src="{{ site.url }}/img/top07.gif" /></a></li>
    <li><a href="{{ site.url }}/gastebuch/"><img src="{{ site.url }}/img/top08.gif" /></a></li>
</ul>
